.RepositoryTitle .owner {
  opacity: 0.2;
}

.RepositoryTitle .divider {
  font-weight: normal;
  opacity: 0.2;
}

.RepositoryTitle .private {
  display: inline-block;
  margin-left: 1em;
  font-weight: normal;
  font-size: 50%;
  background: #ffefc6;
  padding: 0em 0.4em;
  border-radius: 3px;
  top: -5px;
  position: relative;
}
